
<script src="/assets/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="/assets/plugins/bootstrap-4.3.1-dist/popper.min.js"></script>
<script src="/assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script src="/assets/plugins/vitalets-bootstrap-datepicker-c7af15b/js/bootstrap-datepicker.js"></script>
<script src="/assets/plugins/form-master/dist/jquery.form.min.js"></script>
<script src="/assets/plugins/select2/select2.min.js"></script>
<script src="/assets/js/custom.js"></script>

</body>
</html>