<%- include('./partials/header') %>
    
   <div class="container">
       <div class="row" id="authorization-form">
           <div class="col-12">
               
            <div class="card">
                <div class="card-header bg-info">
                  <h3 class="card-title">Register</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal" method="POST">
                  <div class="card-body">
                    <div class="row">
                        <div class="col-6 d-none d-lg-block">

                        </div>

                        <!-- right side -->
                        <div class="col-lg-6 col-12">
                          <div class="row">

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="fname" class="col-form-label">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="lname" class="col-form-label">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="birthday" class="col-form-label">Birthday</label>
                                <input type="text" class="form-control" id="birthday" name="birthday">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="male" class="col-form-label">Gender</label>
                                <div class="row no-gutters">
                                  <div class="col-6">
                                    <div class="custom-radio">
                                      <input type="radio" name="gender" value="0" id="male" class="radio">
                                      <label for="male" class="col-form-label">
                                        <span class="custom-radio-btn"></span>
                                        Male
                                      </label>
                                    </div>
                                  </div>
  
                                  <div class="col-6">
                                    <div class="custom-radio">
                                      <input type="radio" name="gender" value="1" id="female" class="radio">
                                      <label for="female" class="col-form-label">
                                        <span class="custom-radio-btn"></span>
                                        Female
                                      </label>
                                    </div>
                                  </div>
  
                                </div>
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="phone" class="col-form-label">Phone Number</label>
                                <input type="tel" class="form-control" id="phone" name="phone">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                              </div>
                            </div>

                            <div class="col-12 col-sm-6">
                              <div class="form-group">
                                <label for="repeat-password" class="col-form-label">Repeat Password</label>
                                <input type="password" class="form-control" id="repeat-password">
                              </div>
                            </div>

                          </div>
                        </div>
                        <!-- end of right side -->
                    </div>

                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-info">Register</button>
                    <a class="d-inline-block ml-3" href="/login">Has account? Login</a>
                  </div>
                  <!-- /.card-footer -->
                </form>
              </div>

           </div>
       </div>
   </div>

<%- include('./partials/footer') %>